version: "3.8"

services:
  mongo:
    image: mongo:8
    container_name: ecommerce-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: ecommerce
    networks:
      - ecommerce-network

volumes:
  mongo-data:

networks:
  ecommerce-network: